//do not change square-start-color, required in calculations
$page-background-color: black;
$game-background-color: rgb(228, 137, 0);
$square-start-color: rgba(0, 0, 0, 0);
$panel-background-color: yellowgreen;

